<p id="notice"><%= notice %></p>

<style>

	@import url('https://fonts.googleapis.com/css?family=Mirza:700|Lemonada');


	.orange-text {
		color: #e67e22;
	}

	.green-text {
		color: #000;
		background-color: #f5ffe3;
		padding: 5px;
	}

	.bold-text {
		font-weight: bold;
	}

	.narrator {
	    /* text-decoration: underline; */
/*	    border: 3px dashed #ffc4cf;

*/	    padding: 7px;
/*		background-color: #ffc4cf;
*/		border-bottom: 3px solid #ffc4cf;
/*	    display: block;
*/	    direction: rtl;
		
		font-size: 18px;
		font-family: 'Mirza', cursive;
		font-weight: 700;


	}

	.id-this {
		background-color: #f1c40f;
		border: none;
	}

	.ahadith {
		border-right: 10px solid #ccc;
    	padding-right: 15px;
	}

</style>

<div class="text-center jumbotron">
	<h1>Book <%= params[:link] %></h1>	

	<br>
	<p>Total Hadith including this Narrator's name: <%= @ahadith.count %></p>	

</div>

	
	<% @ahadith.each_with_index do |hadith, index| %>
	<div class="row">
		
		<div class="well">
			<h2><%= index + 1 %></h2>
		</div>

		<br>

		<p style="text-align: right; direction: rtl;"></p>

		<div class="ahadith">
			<li>
				<p style="text-align: right; direction: rtl;"><%= hadith.arabic %></p>
			</li>
		</div>
		

	</div>
	<hr>
	<% end %>

<script>

	
	search = "<%= @search %>";

	// alert(search);

	$(".ahadith").each(function(){
		c = $(this).html().replace(search, '<span class="narrator id-this">'+search+'</span>');
		$(this).html(c)
	})

</script>
