<p id="notice"><%= notice %></p>

<style>

	@import url('https://fonts.googleapis.com/css?family=Mirza:700|Lemonada');


	.orange-text {
		color: #e67e22;
	}

	.green-text {
		color: #000;
		background-color: #f5ffe3;
		padding: 5px;
	}

	.bold-text {
		font-weight: bold;
	}

	.narrator {
	    /* text-decoration: underline; */
/*	    border: 3px dashed #ffc4cf;

*/	    padding: 7px;
/*		background-color: #ffc4cf;
*/		border-bottom: 3px solid #ffc4cf;
/*	    display: block;
*/	    direction: rtl;
		
		font-size: 18px;
		font-family: 'Mirza', cursive;
		font-weight: 700;


	}

	<% if current_user.permission("chain") %>

	.id-this {
		background-color: #f1c40f;
		border: none;
	}

	<% end %>

	.arabic-text {
		direction: rtl;
	}
</style>

<div class="text-center jumbotron">
	<h1><%= @hadith_book.title %></h1>	
</div>

	
	<% @hadith_book.hadith_chapters.order("position ASC").each_with_index do |chapter, index| %>
	<div class="well">
			<h3 style="text-align: right;">
				<%= chapter.title %>
				<span class="pull-right" style="margin-left: 6px;"> <%= index + 1 %></span>
			</h3>
	</div>
		

		<% chapter.narrations.order("position ASC").each do |hadith| %>
		<div class="row">
			<div class="col-lg-6">

				<div class="editor">

					<% if current_user.permission("chain") %>

						<button class="btn btn-info bulker">Bulker</button>
						<br><br>

						<select name="" class="colorbook">
							<option value="">Select Option</option>
							<option value="orange-text">Orange</option>
							<option value="green-text">Green</option>
							<option value="bold-text">Bold</option>
							<option value="narrator">Narrator</option>
						</select>
						<br><br>
						<button onclick="saveColor(<%= hadith.id %>)" class="btn btn-success">Save Coloring</button>


						<h4>Who is this <span class="selected-narrator">عبدان</span> ?</h4>
						<select name="" id="" class="narrator-identifier">
							<option value="">Search</option>
							<% Narrator.all.each do |n| %>
								<option value="<%= n.id %>" style="direction: rtl;"><%= n.full_name %></option>
							<% end %>
						</select>
						
						<% if h = hadith.annotated_arabic %>
							<br><br>
							<span class="btn btn-danger reset-hadith" data-id="<%= hadith.id %>">
								Reset Annotations
							</span>
						<% end %>

					<% end %>

					<% if current_user.permission("harmonizer") %>
						<button class="btn btn-info harmonizer" data-id="<%= hadith.id %>">Matn Harmonizer</button>
					<% end %>

				</div>

			</div>
			<div class="col-lg-6 arabic-text hadith" data-id="<%= hadith.id %>">
				
				<% if h = hadith.annotated_arabic %>
					<%= h.html_safe %>
				<% else %>
					<%= strip_tags(hadith.arabic) %>
				<% end %>
			</div>
		</div>
		<hr>
		<% end %>

	<% end %>


<a href="/hadith_chapters/<%= @hadith_book.id %>/new">Add Chapter</a>
<br>
<%= link_to 'Edit', edit_hadith_book_path(@hadith_book) %> |
<%= link_to 'Back', hadith_books_path %>


<% if current_user.permission("chain") %>
	<%= render "hadith_books/scripts/narrator" %>
<% end %>

<% if current_user.permission("harmonizer") %>

	<%= render "hadith_books/scripts/harmonizer" %>
<% end %>