<p id="notice"><%= notice %></p>

<style>

	@import url('https://fonts.googleapis.com/css?family=Mirza:700|Lemonada');


	.orange-text {
		color: #e67e22;
	}

	.green-text {
		color: #000;
		background-color: #f5ffe3;
		padding: 5px;
	}

	.bold-text {
		font-weight: bold;
	}

	.narrator {
	    /* text-decoration: underline; */
/*	    border: 3px dashed #ffc4cf;

*/	    padding: 7px;
/*		background-color: #ffc4cf;
*/		border-bottom: 3px solid #ffc4cf;
/*	    display: block;
*/	    direction: rtl;
		
		font-size: 18px;
		font-family: 'Mirza', cursive;
		font-weight: 700;


	}

	.id-this {
		background-color: #f1c40f;
		border: none;
	}

	.arabic-text {
		direction: rtl;
	}
</style>

<div class="text-center jumbotron">
	<h1><%= @hadith_book.title %></h1>	
</div>

	
	<% @hadith_book.hadith_chapters.order("position ASC").each_with_index do |chapter, index| %>
	<div class="well">
			<h3 style="text-align: right;">
				<%= chapter.title %>
				<span class="pull-right" style="margin-left: 6px;"> <%= index + 1 %></span>
			</h3>
	</div>
		

		<% chapter.narrations.each do |hadith| %>
		<div class="row">
			<div class="col-lg-6">

				<div class="editor">
					<button class="btn btn-info bulker">Bulker</button>
					<br><br>

					<select name="" class="colorbook">
						<option value="">Select Option</option>
						<option value="orange-text">Orange</option>
						<option value="green-text">Green</option>
						<option value="bold-text">Bold</option>
						<option value="narrator">Narrator</option>
					</select>
					<br><br>
					<button onclick="saveColor(<%= hadith.id %>)" class="btn btn-success">Save Coloring</button>


					<h4>Who is this <span class="selected-narrator">عبدان</span> ?</h4>
					<select name="" id="" class="narrator-identifier">
						<option value="">Search</option>
						<% Narrator.all.each do |n| %>
							<option value="<%= n.id %>" style="direction: rtl;"><%= n.full_name %></option>
						<% end %>
					</select>
					
					<% if h = hadith.annotated_arabic %>
						<br><br>
						<span class="btn btn-danger reset-hadith" data-id="<%= hadith.id %>">
							Reset Annotations
						</span>
					<% end %>

				</div>

			</div>
			<div class="col-lg-6 arabic-text hadith" data-id="<%= hadith.id %>">
				
				<% if h = hadith.annotated_arabic %>
					<%= h.html_safe %>
				<% else %>
					<%= strip_tags(hadith.arabic) %>
				<% end %>
			</div>
		</div>
		<hr>
		<% end %>

	<% end %>


<a href="/hadith_chapters/<%= @hadith_book.id %>/new">Add Chapter</a>
<br>
<%= link_to 'Edit', edit_hadith_book_path(@hadith_book) %> |
<%= link_to 'Back', hadith_books_path %>


<script>
	if(!window.Kolich){
	  Kolich = {};
	}

	Kolich.Selector = {};
	Kolich.Selector.getSelected = function(){
	  var t = '';
	  if(window.getSelection){
	    t = window.getSelection();

	  }else if(document.getSelection){
	    t = document.getSelection();
	  }else if(document.selection){
	    t = document.selection.createRange().text;
	  }
	  return t;
	}

	Kolich.Selector.mouseup = function(){
	  var st = Kolich.Selector.getSelected();
	  if(st!=''){
	  	

	    revised = "<span class='orange-text'>"+st+"</span>";
	    id = window.getSelection().anchorNode.parentElement.getAttribute("data-id");

	    original = $(".hadith[data-id="+id+"]").html();

	    color = $(".hadith[data-id="+id+"]").parent().find(".colorbook").val();
	    console.log(color)
	    console.log("id:" + id)


	    if (color != null && color != "") {

	    	if (color != "narrator") {
	    		cleanSpans();
	    	}

		    wrapSelectedText();

	    }
	    // $(".hadith[data-id="+id+"]").html(revised);
	  }
	}

	$(document).ready(function(){
	  $(document).bind("mouseup", Kolich.Selector.mouseup);
	});

	function cleanSpans(){
		// $(".hadith[data-id="+id+"]").find("span[class="+color+"]").contents().unwrap();
	};

	function wrapSelectedText() {       
	    var selection= window.getSelection().getRangeAt(0);
	    var selectedText = selection.extractContents();
	    var span= document.createElement("span");
	    span.setAttribute("class", color);
	    span.appendChild(selectedText);
	    selection.insertNode(span);
	}


    function saveColor(id) {
    	$.ajax({
		    type: "PUT",
		    dataType: "script",
		    url: '/narrations/'+id,
		    contentType: 'application/json',
		    data: JSON.stringify({ annotated_arabic: $(".hadith[data-id="+id+"]").html(), _method:'put' })
		}).done(function( response )
        {
            alert( "Data Saved: " );
        });
    }

    $(".narrator").on("click", function(){
    	$(".tempSelect").removeClass("tempSelect");
		txt = $(this).html();
		box = $(this).parent().parent();
		box.find(".selected-narrator").html(txt);
		$(this).addClass("tempSelect");

	});

    $(".narrator-identifier").on('change', function(){
    	$(".tempSelect").attr("data-id", $(this).val());
    	narrator_refresh();
    	$(this).prop('selectedIndex',0);
    })


    function narrator_refresh(){
    	$(".narrator").each(function(){
    	if ($(this).attr("data-id") == null || $(this).attr("data-id") == "" ){
    		$(this).addClass("id-this");
    	} else {
    		$(this).removeClass("id-this");
    	}
    });
    }

    narrator_refresh();

    $(".reset-hadith").on('click', function(){
    	id = $(this).attr("data-id")
    	reset_hadith(id)
    })

    function reset_hadith(id) {
    	$.ajax({
		    type: "GET",
		    url: '/reset/'+id,
		    contentType: 'application/json',
		}).done(function( response )
        {
            // alert( "Data Saved: " );
        });
    }
    

</script>

<%= render "hadith_books/narrator_bulker" %>