<style>
  .arabic {
    text-align: right;
    direction: rtl;
    font-size: 24px;
  }

  .number {
    color: #919191;
  }
  
  .table-wrap {
    max-width: 500px;
    margin: 0 auto;
  }

  .panel {
    margin-bottom: 0;
  }

</style>

<p id="notice"><%= notice %></p>

<div class="table-wrap">

      <% @hadith_collection.hadith_books.each_with_index do |book, index| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <a class="pull-left" href="/hadith_books/<%= book.id %>">Show</a>
            <span class="arabic pull-right">
              <span class="number"><%= index + 1 %>. </span>
              <%= book.title %></span>
          </div>
        </div>
      <% end %>
</div>

<%= link_to 'Edit', edit_hadith_collection_path(@hadith_collection) %> |
<%= link_to 'Back', hadith_collections_path %>
