<!DOCTYPE html>
<html>
<head>
  <title>Natahaddas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav">
  <a href="/">
    <img class="logo" src="<%= asset_path('logo.png') %>" alt="">
  </a>
</nav>

<div class="container">
	<%= yield %>	
</div>

</body>
</html>
